*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Monserrat', sans-serif;
}

header{
    height: 200px;
    padding: 20px 0;
}

.header-log{
    border: 1px solid black;
    width: 400px;
    height: 500px;
}

.container{
    display: block;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: -50%;
}
