*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monserrat', sans-serif;
}

header{
    height: 110px;
    padding: 10px 0;
}

.container{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto; 
    background-color: #fff;
}

.logo_home{
    position: absolute; 
    margin-top: 1%;  
    left: 0;
    margin: 10px; 
}

.header-search{
    position: absolute;
    margin-top: 2%;
    left: 50%;
    transform: translateX(-50%);
}

#input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #000;
}

#botao{
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #000;
}

.body-section{
    background-color: #5C81FF;
}

.perfil{
    position: absolute;
    margin-top: 2%;  
    right: 0;
    margin: 10px; 
}

.dados{
    position: absolute;
    padding: 20%;
    margin-top: -15%;
    left: -10%;
}

.frase-dados{
    color: #fff;
}

.informacoes{
    padding: 10%;
    margin-left: 400px;
    vertical-align: 70px;
    margin-top: -1%;

}

#titulo{
    font-weight: bold;
    color: #fff;
}

#nome{
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #fff ;
    background-color: #FAF3F3;
    color: #76706E;
    text-align: center;
}

.e-mail{
    margin-left: 300px;
    margin-top: -9%;
}

#email{
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #fff ;
    background-color: #FAF3F3;
    color: #76706E;
    text-align: center;
}

.cpf{
    margin-top: 9%;
}

#cpf-number{
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #fff ;
    background-color: #FAF3F3;
    color: #76706E;
    text-align: center;
}

.telefone{
    margin-left: 300px;
    margin-top: -9%;
}

#tel{
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #fff ;
    background-color: #FAF3F3;
    color: #76706E;
    text-align: center;
}

.editar-p{
    margin-top: 5%;
    margin-left: 205px;
}

#botao2{
    width: 110px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #fff;
}

.box1{
    border: 1px solid #fff ;
    width: 350px;
    background-color: #fff;
}













