*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header{
    height: 110px;
    padding: 10px 0;
}

.container1{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

.logo_home img{
    position: absolute; 
    margin-top: 1%;  
    left: 0; 
    margin: 10px; 
}

.perfil{
    position: absolute;
    margin-top: 3%; 
    right: 0; 
    margin: 10px; 
}

.header-search{
    position: absolute;
    margin-top: 2.5%;
    left: 55%;
    transform: translateX(-60%);
}

::placeholder{
    padding-left: 15px; /*alinhando o 'pesquise aqui' para a esqueda*/
}

#input{
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #000;
}

.body_header{
    display: flex;
    flex-direction: row;
    background-color: #1FB857;
    justify-content: space-between;
    padding: 40px;
    width: 100%;
    height: 80%;    
}

.caderneta{
    display: flex;
    flex-direction: row;  
    left: 0; /* Alinhado à esquerda */
    margin: 10px;
    margin-left: -5%;
}

.cidadao{
    display: flex;
    flex-direction: row;
    right: 0; /* Alinhado à direita*/
    margin: 10px; 
}

.header-text{
    display: block;
    margin-left: 5%;
    margin-right: 10%;
    color: #fff;
}

.header-text h1{
    margin-top: 30%;
    font-weight: bold;
}

.header-text p{
    margin-left: 20%;
    font-weight: bolder;
}

.bloco1{
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
} 

.indices{
    display: flex;
    flex-direction: row;
    height: 100px;
}

.indices h2{
    left: 0;
    margin-left: 10%;
    margin-top: 15%;
    text-align: start;
    color: #3F5FCE;
    font-weight: bold;
}

#cidadao{
    text-decoration: none;
    margin-left: 50%;
    margin-top: 16%;
    color: #F4B117;
}

#servidor{
    text-decoration: none;
    margin-left: 50%;
    margin-top: 16%;
    color: #3F5FCE;
}

#empresa{
    text-decoration: none;
    margin-left: 50%;
    margin-top: 16%;
    color: #3F5FCE;
}

.bloco2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 250px; 
    text-decoration: none;
    background-color: #102A83;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.bloco2 h2{
    margin-left: 2%;
    margin-top: 2.5%;
    text-align: start;
    font-weight: bold;
    color: #fff;
}

#saude{
    text-decoration: none;
    margin-left: 3%;
    margin-top: 3%;
    color: #F4B117;
    font-weight: bold;
}

.orgao-link{
    text-decoration: none;
    margin-left: 2%;
    margin-top: 3%;
    font-weight: bold;
    color: #fff;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #3F5FCE;
    height: 400px;
}

.box{
    margin-top: 3%;
    border: 1px solid #fff ;
    width: 370px;
    height: 260px;
    border-radius: 10px;
    text-align: center;
    flex-wrap: wrap;
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.box h2{
   margin-top: 10%; 
}

.small-box{
    margin-top: 10%;
}

button{
    color: #F4B117;
    margin-top: 5%;
    width: 40%;
    height: 30px;
    background-color: #fff;
    border-radius: 10px;
    font-weight: bold;
    border: 1px solid #fff ;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

.small-box a{
    text-decoration: none;
    color: #F4B117;
    font-weight: bold;
}

.bloco3{
    color: #fff;
    background-color: #102A83;
    height: 200px;
}

.contato{
    display: flex;
    flex-direction: column;
}


.info_ajuda{
    display: flex;
    flex-direction: row;
    margin-top: -8%;
    margin-left: 40%;
    justify-content: space-evenly;
}

.info_ajuda img{
    margin-top: 6%;
}

.info_ajuda h4{
    margin-top: 5.6%;
}

.bloco-ajuda{
    border: 1px solid #fff;
    border-radius: 15px;
    color: #F4B117;
    background-color: #fff;
    width: 220px;
    height: 130px;
    text-align: center;
}







